<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Prediction</title>
  </head>
  <body>
    <h1>Prediction Results Page</h1>
    <a href="{% url 'home' %}">Click here to go back for another input</a>
    <p>Result is: </p>
    <p>{{prediction}}</p>
  </body>
</html>
